<nav>
	<div class="toggle-menu">
	    <div id="icon">
	        <div class="one"></div>
	        <div class="two"></div>
	        <div class="three"></div>
	    </div>

	    <div id="menu">
	        <ul>
	            <li>
								<a href=""><span><i class="fa fa-twitter"></i></span> Twitter</a>
	            </li>
	            <li>
								<a href=""><span><i class="fa fa-github"></i></span> Github</a>
	            </li>
	            <li>
								<a href="{{@blog.url}}/rss/"><span><i class="fa fa-rss"></i></span> RSS</a>
	            </li>
	        </ul>
	    </div>
	 </div>
</nav>
