<section class="pagination">
	<nav role="pagination">
		<div class="inner">
			{{#if prev}}
				<a href="{{pageUrl prev}}" class="button newer-posts"><i class="fa fa-angle-left"></i> Recientes</a>
			{{/if}}

			{{#if next}}
			<a href="{{pageUrl next}}" class="button older-posts">Anteriores <i class="fa fa-angle-right"></i></a>
			{{/if}}
		</div>
	</nav>
</section>
